.tag {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff6060;
  height: 25px;
  min-width: 115px;
  font-size: 14px;
  color: #ffffff;
  text-wrap: nowrap;
  padding: 3px 30px;
  box-sizing: border-box;

  @media screen and (max-width: 500px) {
    font-size: 10px;
    min-width: 85px;
    height: 18px;
    border-radius: 5px;
    padding: 3px 10px;
  }
}
